.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-center {
  text-align: center;
}
p {
  white-space: wrap;
}
.fw-500 {
  font-weight: 500;
}

.text-muted {
  color: #6d7175 !important;
}
.text-subdued {
  color: #8c9196;
}
.Polaris-Heading {
  /* font-size: 26px; */
}

.Polaris-Page {
  margin: 0;
  max-width: 100%;
}

.Polaris-ResourceItem__Container {
  align-items: center;
}
.Polaris-ResourceItem__Content {
  padding: 1rem 0rem;
}
.Polaris-Navigation__ListItem {
  padding: 0.2rem 0rem;
}
.Polaris-ResourceItem__Content {
  padding: 0rem;
}

.Polaris-Icon {
  height: 1.6rem;
  width: 1.6rem;
  /* margin: 0%;
  margin-right: 5px; */
}
.Polaris-Subheading {
  margin-bottom: 0.8rem;
}
.small-caption {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  margin-left: -9px;
}
.Polaris-Tabs__Tab:focus:not(:active) .Polaris-Tabs__Title::after {
  box-shadow: none;
}

.Polaris-Modal-Section {
  padding: 0px;
}
.modal-content {
  padding: 2.3rem 2rem;
}
.bold-text {
  font-size: 28px;
  font-weight: 600;
}
.secondary-text {
  color: #6d7175;
}
.Polaris-Button__Text {
  display: flex;
}
.Polaris-Button__Content {
  font-weight: normal;
}
.Polaris-ChoiceList {
  padding: 1rem 1.5rem;
}
.Polaris-Popover__Wrapper {
  /* padding: 1rem 2rem; */
}
.Polaris-Popover__Section {
  /* padding: 0rem; */
}
.db-title {
  font-size: 26px;
  margin-top: 1rem;
  line-height: 32px;
  /* font-family: "SF pro display"; */
  font-weight: 400;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
